body
{
	background: #333;
	margin:0;
	color:white;
	font-family: 'Open Sans';
	overflow: hidden;
}
.Options
{
	width:105%;
}
.BasicTab,.AdvancedTab
{
	display:inline-block;
	width:49%;
	margin-left: -4px;
	text-align: center;
	border-right: solid 1px rgb(224, 220, 220);
	transition: box-shadow .2s ease-in-out,border-color .2s ease-in-out;
	border-bottom: solid 1px rgb(224, 220, 220);
}
.selected
{
	border-bottom: solid 1px rgb(47, 134, 168);
	box-shadow:0px -1px 3px rgb(47, 134, 168);
}
.BasicContainer,.AdvancedContainer
{
	text-align: center;
}
.AdvancedContainer
{
	display:none;
}
